.navbar {
    background-color: rgb(0, 188, 161);
    color: rgb(255, 255, 255);
    height: 30px;
    font-size: 12px;
}

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.header-text {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

#loan {
    display: inline;
    color: rgb(141, 141, 141);
    font-weight: lighter;
}

#contact {
    font-weight: normal;
    font-style: normal;
}

#company-name {
    display: inline;
    font-weight: bold;
    color: rgb(0, 188, 161);
}

#sign-in {
    float: right;
}

.login-screen {
    text-align: center;
    padding-top: 15%;
}

input[type=text],
input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0;
}

.btn-primary {
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 300px;
    font-weight: bold;
}

.btn,
.user-input {
    border-radius: unset;
    height: 50px;
}

.reset-password {
    font-size: 12px;
}

.api-connect {
    font-size: 25px;
}

.footer {
    height: 0;
    color: rgb(255, 255, 255);
}